# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
*.jks
*.keystore
key.properties
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
.gradle/
local.properties
GeneratedPluginRegistrant.java

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Env
.env
*.env.local

# Generated
lib/generated/
